body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181918;
    color: white;
}

.main {
    display: flex;
    gap: 50px;
    background-color: gray;
}

.grid {
    background-color: red;
    flex: auto;
}

.line {
    display: flex;
    flex: auto;
}

#grids {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 700px;
    border: 1px black solid;
}

.grid:hover {
    background-color: black;
}

/* Controller */

.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 200px;
    height: auto;
}

button {
    width: 120px;
    height: 50px;
    border-radius: 0.5rem;
}