body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #181918;
    color: white;
}
/* header */


.title {
    font-weight: bold;
    font-size: 50px;
    
}
/* main */
.main {
    display: flex;
    gap: 100px;
}

/* Controller */
.controller {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 200px;
    height: auto;
}
/* pen color */
#penColor {
    background: lightblue;
    padding: 0;
    border: 50px solid black;
    border-radius: 500px;
}

#penColor::-webkit-color-swatch-wrapper {
    padding: 0;
}

#penColor::-webkit-color-swatch {
    border: none;
}

/* current size value for grid size */
#sizeValue {
    font-size: large;
}

button {
    width: 120px;
    height: 50px;
    border-radius: 0.5rem;
    background-color: #181918;
    color: white;
}

.selected {
    background-color: #262929;
}

/* grids */
#grids {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border: 1px black solid;
}

.grid {
    background-color: red;
    flex: auto;
}

.line {
    display: flex;
    flex: auto;
}

